<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.majun.exam.dao.expand.QuestionExpandMapper">

    <resultMap id="question" type="com.majun.exam.pojo.Question">
        <id column="row_id" jdbcType="INTEGER" property="rowId" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <resultMap id="option" type="com.majun.exam.pojo.Option">
        <result column="row_id" jdbcType="INTEGER" property="rowId" />
        <result column="question_id" jdbcType="INTEGER" property="questionId" />
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
        <result column="answer" jdbcType="BIT" property="answer" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
    </resultMap>

    <resultMap id="answer" type="com.majun.exam.dto.AnswerDto">
        <id column="row_id" jdbcType="INTEGER" property="rowId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <resultMap id="answerDetail" type="com.majun.exam.pojo.AnswerDetail">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="answer_id" jdbcType="INTEGER" property="answerId" />
        <result column="question_id" jdbcType="INTEGER" property="questionId" />
        <result column="choose_answer_id" jdbcType="INTEGER" property="chooseAnswerId" />
        <result column="right_answer_id" jdbcType="INTEGER" property="rightAnswerId" />
    </resultMap>

    <select id="queryRandomQuestions" resultMap="question">
      select * from ex_question where delete_flag = 0

    </select>

    <select id="queryOptionsByQuestionIds" resultType="com.majun.exam.pojo.Option">
      select * from ex_option where question_id in
        <foreach collection="questionIds" index="index" item="questionId" open="(" separator="," close=")">
            #{questionId}
        </foreach>
        and delete_flag = 0
        order by row_id asc
    </select>
    <select id="queryAllQuestions" resultMap="question">
        select * from ex_question where delete_flag = 0
    </select>
    <select id="queryAllOption" resultMap="option">
        select * from ex_option where delete_flag = 0
    </select>

    <select id="queryAnswers" resultMap="answer">
        select t1.row_id,t1.user_id,t2.user_name,t1.score,t1.create_time from ex_answer t1,ex_user t2
        where t1.user_id = t2.row_id
        and t1.user_id = #{userId}
        order by t1.create_time desc
    </select>
    <select id="queryAnswerDetails" resultMap="answerDetail">
        select * from ex_answer_detail where answer_id = #{answerId}
        order by id asc
    </select>
</mapper>