<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.majun.exam.dao.expand.UserExpandMapper">

    <resultMap id="user" type="com.majun.exam.pojo.User">
        <id column="row_id" jdbcType="INTEGER" property="rowId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <select id="getUserByName" resultMap="user">
        select * from ex_user where user_name = #{name} LIMIT  1
    </select>

</mapper>