<html xmlns:th="http://www.thymeleaf.org">


<head th:include="/inner/css::commonHeader('开始答题')"></head>


<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div th:include="/inner/left::loadLeft"></div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div th:include="/inner/header::loadHeader"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>开始答题</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/list">首页</a>
                    </li>
                    <li class="active">
                        <strong>开始答题</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <!--<div class="ibox-title">
                            <h5>Bootstrap Panels <small>Custom background colors.</small></h5>
                        </div>-->
                        <div class="ibox-content">

                            <div class="row">
                                <div th:each="question,iterStat:${questions}">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default" th:id="'question-'+${question.question.rowId}" th:name="'question-'+${question.question.rowId}">
                                            <div class="panel-heading">
                                                <span th:text="${iterStat.index+1}"></span>.<span th:text="${question.description}"></span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-sm-10">
                                                    <div th:each="option,iterStat:${question.options}">
                                                        <label>
                                                            <input type="radio" th:value="${option.rowId}" th:name="${option.questionId}">
                                                            <span th:text="${option.description}"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="ladda-button ladda-button-demo btn btn-primary" id="button"  data-style="zoom-in">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="/inner/footer::loadFooter"></div>
    </div>
</div>

<div th:include="/inner/js::loadJs"></div>
<script th:src="@{/js/page/test.js}" ></script>

<script th:inline="javascript">

</script>
</body>
</html>
